.Resources {
  height: 59px;
  background-image: url('../../assets/ui/human-top.png');
  position: relative;
}

.Resources-player {
  position: absolute;
  top: 1px;

  .Player {
    width: 135px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    span {
      text-align: right;
      display: block;
    }
  }

  &.Resources-player--left {
    left: 243px;
  }

  &.Resources-player--right {
    right: 646px;
  }
}
