$resource-panel-height:     59px !default;
$resource-panel-spacing-y:  3px !default;

$resource-panel-widescreen-decoration-size: 240px !default;

$resource-panel-player-offset-x:  2px !default;

$resource-panel-resource-width:      134px !default;
$resource-panel-resource-height:     32px !default;
$resource-panel-resource-icon-width: 32px !default;
$resource-panel-resource-spacing-x:  23px !default;

.ResourcePanel {
  height: $resource-panel-height;
  position: relative;
  background: no-repeat top / cover url('./assets/ui/human-resource-panel.png');

  &.ResourcePanel--orc {
    background-image: url('./assets/ui/orc-resource-panel.png');
  }

  &.ResourcePanel--nightelf {
    background-image: url('./assets/ui/nightelf-resource-panel.png');
  }

  &.ResourcePanel--undead {
    background-image: url('./assets/ui/undead-resource-panel.png');
  }
}

.ResourcePanel-player {
  position: absolute;
  top: $resource-panel-spacing-y;
  display: flex;

  .Resource {
    height: $resource-panel-resource-height;
    width: $resource-panel-resource-width;
    display: flex;
    align-items: center;

    + .Resource {
      margin-left: $resource-panel-resource-spacing-x;
    }

    .Resource-icon {
      width: $resource-panel-resource-icon-width - 2;
      height: $resource-panel-resource-height - 2;
    }

    .Resource-label {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: right;

      > span {
        color: inherit;
      }
    }

    @each $team, $color in $teamColors {
      &.color-#{$team} {
        @if (yiq($color) < 75) {
          color: mix($color, #fff);
        }
      }
    }
  }

  &:first-child {
    left: ($resource-panel-widescreen-decoration-size +
          $resource-panel-player-offset-x);
  }

  &:last-child {
    // Don't know where the 3px comes from
    right: ($resource-panel-widescreen-decoration-size +
           $resource-panel-player-offset-x +
           3px);
  }

  @media (aspect-ratio: 4/3) {
    &:first-child {
      left: $resource-panel-player-offset-x;
    }

    &:last-child {
      right: ($resource-panel-player-offset-x +
             3px);
    }
  }
}
