// Variables
//
$font-family-base: 'Friz Quadrata', serif !default;

$themeColors: (
  "success": #00ff00,
  "warning": #ffff00,
  "danger":  #ff0000
) !default;

$hud-top-height:               59px !default;
$widescreen-decoration-size:   240px !default;

@mixin contrast-team-colors() {
  @each $team, $color in $teamColors {
    &.color-#{$team} {
      @if (yiq($color) < 65) {
        color: mix($color, #fff);
      }
    }
  }
}

@mixin scoreboard() {
  border: 7px solid;
  margin: 1px;
  border-radius: 14px;
  border-image: url('./assets/ui/scoreboard-border.png') #{"7 / 1 / 1px"} stretch;
  background-color: rgba(0, 0, 0, .6);
}

@mixin quantity-label($dimensions) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: map-get($dimensions, "offset-y");
  right: map-get($dimensions, "offset-x");
  background: no-repeat center / cover url('./assets/ui/icon-level.png');
  width: map-get($dimensions, "size");
  height: map-get($dimensions, "size");
  font-size: map-get($dimensions, "font-size");
  line-height: 1;
}


// Base app styles
//
@import "../common/App";


// Camo specifics
//
@font-face {
  font-family: 'Friz Quadrata';
  src: url('./assets/fonts/frizqt.woff2') format('woff2');
}

.Progress {
  &.Progress--status {
    background-color: #000;

    .Progress-bar {
      width: 100%;
      height: 100%;
      background-image: url('./assets/ui/statusbar-fill.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}


// Components
//
@import "./components/CamoResourcesOverview";
@import "./components/CamoHeroesOverview";
@import "./components/CamoTeamsOverview.scss";
